body{
  background: rgb(204,247,255);
  background: radial-gradient(circle, rgba(204,247,255,0.8477984943977591) 0%, rgba(250,249,246,1) 100%);
  background-attachment: fixed;
}
.header-img {
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.experience-title {
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.submissions-title{
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 330px;
}
.man-title, .bx-title {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.st-title {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.qs-title{
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bk-title {
  width: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.qs-hover:hover, .st-hover:hover, .bk-hover:hover, .man-hover:hover, .bx-hover:hover {
  fill: aqua;
  cursor: pointer;
}
.box{
  width: 600px;
  height: auto;
}
.title-exp {
  width: 550px;
  height: auto;
}
.desc-1{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: medium;
    color: rgba(78, 78, 78, 0.781);
}
.btn-outline-dark {
  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: medium;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-outline-light{
    font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: medium;
      border-radius: 30px;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
}
.pages .page{
  display: none;
}
.pages .page.is-active {
  display: block;
}
.link-color {
  color: aqua;
}

.form-help {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.label-help {
  font-weight: bold;
  margin-top: 10px;
}

.input-help[type="text"], .input-help[type="email"], .textarea-help {
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  resize: vertical;
}

.textarea-help {
  height: 100px;
}

.submission-confirm{
  text-align: center;
  color: rgb(53, 236, 7);
  font-size: larger;
  font-weight: bold;
}
.submission-denied{
  text-align: center;
  color: rgb(236, 7, 19);  
  font-size: larger;
  font-weight: bold;
}


